<p>Dear {{companyName}},</p>
<p>Thank you for registering your company with us. Please verify your
  registration by clicking the link below:</p>
<a href='{{verificationLink}}'>Verify Company</a>
<p>If you did not register this company, please ignore this email.</p>
